$theme-color: #635a5a;

:host {
  .item-container {
    display: flex;
    width: 100px;
    background: $theme-color;
    height: 25px;
    align-items: center;
    border-radius: 4px;
    padding: 0.2rem 0.8rem;
    color: white;
    margin: 0.1rem;
    cursor: pointer;
    span.menu-icon {
      width: 16px;
      &.expand {
        transform: rotate(90deg);
      }
      i::before {
        content: '>';
        display: inline-block;
      }
    }
    .item-content {
      width: 100px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .item-child {
    margin-left: 0.2em;
    border-left: 0.1em solid $theme-color;
  }
}
